<div class="row mt-2">
    <div class="col-md-6 offset-md-1 ">

    <div class="card">
        <div class="card-header">
            <h3>Mensages</h3>
        </div>
        <div id="chat" class="card-body"></div>
        <form action="" id="message-form" class="card-footer">
           <div class="input-group">
                 <input type="text" id="message" name="message" class="form-control">
            <div class="input-group-append">
                <button type="submit" name="button" class="btn btn-primary">
                 <i class="fas fa-location-arrow"></i>  Enviar
                </button>
            </div>
           </div>
        </form>
    </div>
</div>

<div class="col-md-3">
    <div class="card ">
    <div class="card-header">
        <h3>Usuarios</h3>
    </div>
    <div class="card-body">
        <div id="usernames"></div>
    </div>
</div>

</div>
</div>