<div class="card mb-2  text-black">
  <div class="card-header">
    <h5 class="card-title d-flex align-items-center">
      <span class="material-icons me-2">
        trending_up
      </span>
      Estadísticas
    </h5>
  </div>
  <div class="card-body">
    <p><i class="fas fa-images"></i> Imagenes: {{postsCound}}</p>
    <p><i class="fas fa-comments"></i> Comentarios: {{commentCount}}</p>
    <p><i class="fas fa-eye"></i> Vistas: {{coountViews}}</p>
    <p><i class="fas fa-heart"></i> Likes: {{coountLikes}}</p>
  </div>
</div>